.DS_Store
docgenerator/docgenerator/
docgenerator/spectools/
docgenerator/db.sqlite3
docgenerator/manage.py
docgenerator/requirements.txt
docgenerator/.idea/
docgenerator/venv/
venv/
.idea/
**/__pycache__/
