code {
  font-weight: 700;
}

pre code {
  padding: --spacing(8);
  width: 100%;
  font-weight: 400;
  overflow: auto !important;
  max-height: 65dvh;
}

pre ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--color-zinc-700);
}

pre ::-webkit-scrollbar-thumb {
  background-color: var(--color-zinc-500);
  border-radius: var(--radius-md);
}

pre ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-zinc-400);
}

pre ::-webkit-scrollbar-corner {
  background-color: var(--color-zinc-700);
}

button[class^="shiki-transformer-button"] {
  position: absolute;
  top: 8px !important;
  right: var(--button-right);
  z-index: 20 !important;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: var(--button-radius);
  border: 1px solid var(--color-zinc-500) !important;
  background-color: #24292e !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .2s, opacity .2s;
}

button[class^="shiki-transformer-button"]:hover {
	background-color: var(--color-zinc-900) !important;
}

button.shiki-transformer-button-download {
  right: 46px;
}

button.shiki-transformer-button-download a {
  width: 20px;
  height: 20px;
}

@media (width >= 48rem) {
  code {
    font-size: var(--text-base);
  }
}

@media (width >= 80rem) {
  pre code {
    padding: --spacing(10);
  }
}