@import "tailwindcss";
@import "./base.css" layer(base);
@import "./typography.css" layer(base);
@custom-variant dark (&:where(.dark, .dark *));
@utility container { margin: auto }
@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
@theme {
  --color-w3c-blue: #005a9c;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.25rem;
  --text-6xl: 2.5rem;
  --text-7xl: 3rem;
  --text-8xl: 3.5rem;
  --text-9xl: 4rem;
  --text-10xl: 5rem;
}
