span.line:has(.highlighted-word) {
  font-weight: bolder;
}
span.line a,
.parents a,
.examples a,
.content a {
  text-decoration: none;
}
.parents a:not(:last-child)::after,
.examples a:not(:last-child)::after {
  content: ", ";
  text-decoration: none;
}
table.attributes td:first-child {
  font-weight: bold;
}
