span.line:has(.highlighted-word) {
  font-weight: bolder;
}
.parents a:not(:last-child)::after,
.examples a:not(:last-child)::after,
.bases a:not(:last-child)::after {
  content: ", ";
}
table.musicxml {
  border-top: 1px solid #ccc;
}
table.musicxml th,td {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid #ccc;
}
table.musicxml td:first-child {
  font-weight: bold;
}
h2.tree, h3.tree {
  margin: inherit;
  font: inherit;
}
.active {
  font-weight: bold;
}
section.example {
  margin-bottom: calc(2em / 1.5);
}
.smufl {
  font-family: var(--font-smufl);
  font-size: var(--text-7xl);
}
