/* Overrides for Pagefind modal trigger. */

@media (width <= 64rem) {
  .pf-trigger-btn {
		background: transparent !important;
		border: none !important;
		padding: 0 !important;
	}

	.pf-trigger-text, .pf-trigger-shortcut {
		display: none !important;
	}

	.pf-trigger-icon {
		width: --spacing(5) !important;
		height: --spacing(5) !important;
		background-color: var(--color-zinc-600) !important;
	}

	.pf-modal-close {
		width: --spacing(8) !important;
		height: --spacing(8) !important;
		color: var(--color-zinc-600) !important;
	}

	.pf-modal-body {
		margin-top: --spacing(10) !important;
	}

  .pf-modal-footer {
		position: absolute !important;
		width: 100% !important;
    top: --spacing(18) !important;
    border-top: none !important;
    border-bottom: 1px solid var(--pf-border) !important;
	}
}

@media (width > 64rem) {
	pagefind-modal-trigger {
		min-width: --spacing(56) !important;
	}
}
